<app-dashboard></app-dashboard>

<h1>Kalendari i ndeshjeve</h1>
<div class="alert alert-success" *ngIf="message">
  {{message}}
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Pershkrimi</th>
      <th>Data e ndeshjes</th>
      <th>A ka perfunduar?</th>
      <th>Perditeso</th>
      <th>Fshije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td> {{todo.description}}</td>
      <td> {{todo.targetDate | date}}</td>
      <td> {{todo.isDone}}</td>
      <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
      <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
    </tr>

  </tbody>

</table>

<div class="row">

  <button (click)="addTodo()" class="btn btn-success">Shto</button>


</div>

