<h1>Grupet</h1>
<div class="alert alert-success" *ngIf="message">
  {{message}}
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Emri</th>
      <th>Perditeso</th>
      <th>Fshije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of groups">
      <td> {{group.groupName}}</td>

      <td><button (click)="updateGroup(group.id)" class="btn btn-success">Update</button></td>
      <td><button (click)="deleteGroup(group.id)" class="btn btn-warning">Delete</button></td>
    </tr>

  </tbody>

</table>

<div class="row">

  <button (click)="addGroup()" class="btn btn-success">Shto</button>


</div>